<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="../vue-desenv.js"></script>
</head>
<body>
  <div id="root">
    <input type="text" v-model="novafruta">
    <button v-on:click="inserirFruta">Adicionar</button>
    <ul>
      <li v-for="fruta in frutas">{{fruta}}</li>
    </ul>
    <p><strong>{{total}}</strong></p>
  </div>
  
  <script>
    let root = new Vue({
      el: "#root",
      data: {
        frutas: [],
        novafruta: '',
        total: 0
      },
      methods: {
        inserirFruta: function(){
          this.frutas.push(this.novafruta);
          this.total = this.frutas.length;
          this.novafruta = '';
        }
      }
    });
  </script>
</body>
</html>